[Unit]
Description=CrontabUI
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Environment=PORT=3001
Environment=CRON_DB_PATH=/home/pi/crontabui
Environment=CRON_PATH=/home/pi
#Environment=PATH=/usr/bin:/usr/local/bin
#Environment=HOME=/home/pi 
#Environment=MAIL=pi@raspberry.blorg
Type=simple
User=pi
ExecStart=crontab-ui
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
